<div class="panel-body">
  <p class="text-center pv">Resend confirmation instructions</p>
  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), data: {'parsley-validate': ''}, novalidate: '',  class: "mb-lg") do |form| %>
    <div class="form-group has-feedback">
    	<%= form.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), placeholder: 'Email', class: 'form-control', data: {'parsley-id': '4', 'parsley-required-message': "Email can't be blank."} %>
      <span class="fa fa-envelope form-control-feedback text-muted"></span>
    </div>
    <%= form.submit 'Resend confirmation instructions', class: 'btn btn-block btn-primary mt-lg', data: {disable_with: 'Loading...'} %>
  <% end %>
  <p class="pt-lg text-center"> Need to Signup? </p>
  <%= link_to 'Register Now', plans_path, class: 'btn btn-block btn-default', data: {disable_with: 'Loading...'} %>
</div>
