<h3>Edit Clinic
  <ol class="breadcrumb pull-right">
    <%= render_breadcrumbs tag: :li, separator: '' %>
  </ol>
  <small>Once you signup, make sure you setup the clinic contact information and other preferences here</small>
</h3>
<%= render partial: 'form' %>