<h3>Providers
  <small>Providers supply services and/or products to your patients. Information on this screen is used for printing insurance claims for your patients. 
The reports button lets you list your providers or generate a productivity report over a specific date range.</small>
</h3>
<%= render partial: 'form' %>