<h3>New Procedure Code
  <ol class="breadcrumb pull-right">
    <%= render_breadcrumbs tag: :li, separator: '' %>
  </ol>
  <small>
  	Procedures are used for entering services and payments or adjustments. Services can have different fee schedules and this allows you to customize your system for different insurance plans. If you set the expected insurance owes on a service procedure to less than its initial calculation, an automatic write-off will be made when you use that procedure code.
  </small>
</h3>
<%= render partial: 'form' %>