<h3>New Diagnosis Code
  <ol class="breadcrumb pull-right">
    <%= render_breadcrumbs tag: :li, separator: '' %>
  </ol>
  <small>
  	This screen holds all of your diagnosis codes. You may add, delete or change any item. Be sure to save your changes before exiting.
  </small>
</h3>
<%= render partial: 'form' %>