<h3>Edit Attorney
  <ol class="breadcrumb pull-right">
    <%= render_breadcrumbs tag: :li, separator: '' %>
  </ol>
  <small>
  	This screen can be used to define attorneys associated with patient cases. To switch between attorneys use the "Go to:" drop down in top-menu. You can print envelopes or labels as well as generate a collections report by clicking on the reports button.
  </small>
</h3>
<%= render partial: 'form' %>