<h3>Patient Demographics - <%= @patient.contact.full_name %>	
	<span>
		(<small>
			<%= link_to "<i class='fa fa-user'></i> Add Family Member".html_safe, add_family_member_for_clinic_patient_path(@clinic, @patient), data: {disable_with: 'Please Wait...'} %>
		</small>)
	</span>

  <ol class="breadcrumb pull-right">
    <%= render_breadcrumbs tag: :li, separator: '' %>
  </ol>
  <small>This screen holds your basic patient information and filling in this data is your first step in establishing a patient at your clinic. <br> Your second step in establishing the patient is done by clicking on Case Data.</small>
</h3>
<%= render partial: 'form' %>