    <section id="contact" class="contact">
      <div class="container">
         <!-- SECTION HEADER-->
         <div data-wow-offset="15" data-wow-duration="1.3s" class="section-header wow fadeIn animated">
            <h2>Get in contact with Us</h2>
            <div class="text-center">
               <address>
                  <strong>Twitter, Inc.</strong>
                  <br>795 Folsom Ave, Suite 600
                  <br>San Francisco, CA 94107
                  <br>
                  <abbr title="Phone">P:</abbr>(123) 456-7890</address>
            </div>
         </div>
         <div class="row">
            <img src="/assets/contact.map.jpg" alt="Map" data-no-retina class="img-responsive img-rounded">
         </div>
         <!-- SOCIAL SHARE-->
         <ul class="list-icons">
            <li>
               <a href="">
                  <em class="fa fa-twitter-square"></em>
               </a>
            </li>
            <li>
               <a href="">
                  <em class="fa fa-facebook-square"></em>
               </a>
            </li>
            <li>
               <a href="">
                  <em class="fa fa-google-plus-square"></em>
               </a>
            </li>
            <li>
               <a href="">
                  <em class="fa fa-instagram"></em>
               </a>
            </li>
            <li>
               <a href="">
                  <em class="fa fa-flickr"></em>
               </a>
            </li>
            <li>
               <a href="">
                  <em class="fa fa-pinterest-square"></em>
               </a>
            </li>
         </ul>
      </div>
   </section>
