   <section id="desc2" class="pic-text pic-text-left">
      <div class="container">
         <div class="row">
            <!-- LEFT PIC-->
            <div data-wow-offset="15" data-wow-duration="1.2s" class="col-md-6 wow fadeInLeft animated">
               <div class="mockup-mobile">
                  <img src="/assets/ipad-air.png" alt="" data-no-retina>
               </div>
            </div>
            <!-- RIGHT TEXT-->
            <div class="col-md-6">
               <!-- SECTION TITLE-->
               <h2>What we do?</h2>
               <p>With an integrated line of software products, business services, and strategic consulting, we help healthcare entities:</p>
               <!-- FEATURE LIST-->
               <ul class="featured-list">
                  <li>
                     <span class="fa-stack fa-lg">
                        <em class="fa fa-circle fa-stack-2x"></em>
                        <em class="fa fa-info fa-stack-1x fa-inverse"></em>
                     </span>
                     <p>Succeed in providing high-level care</p>
                  </li>
                  <li>
                     <span class="fa-stack fa-lg">
                        <em class="fa fa-circle fa-stack-2x"></em>
                        <em class="fa fa-info fa-stack-1x fa-inverse"></em>
                     </span>
                     <p>Optimize their revenue</p>
                  </li>
                  <li>
                     <span class="fa-stack fa-lg">
                        <em class="fa fa-circle fa-stack-2x"></em>
                        <em class="fa fa-info fa-stack-1x fa-inverse"></em>
                     </span>
                     <p>Manage their information</p>
                  </li>
                  <li>
                     <span class="fa-stack fa-lg">
                        <em class="fa fa-circle fa-stack-2x"></em>
                        <em class="fa fa-info fa-stack-1x fa-inverse"></em>
                     </span>
                     <p>Grow and thrive as a business</p>
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </section>
