   <section id="desc1" class="pic-text pic-text-right">
      <div class="container">
         <div class="row">
            <!-- LEFT TEXT-->
            <div class="col-md-6">
               <!-- SECTION TITLE-->
               <h2>EMR</h2>
               <p>EMR is a management solution designed for health practitioners. </p>
               <p>It's friendly, easy-to-use interface and user-friendly processes make it a positive addition to your practice.</p>

            </div>
            <!-- RIGHT PIC-->
            <div data-wow-offset="15" data-wow-duration="1.2s" class="col-md-6 wow fadeInRight animated">
               <div class="mockup-mobile">
                  <img src="/assets/iphone-angle.png" alt="" data-no-retina>
               </div>
            </div>
            <!-- /END PHONES IMAGE-->
         </div>
      </div>
   </section>
