   <section id="features" class="features-list">
      <div class="container">
         <!-- START SECTION HEADER-->
         <div data-wow-offset="120" data-wow-duration="1.3s" class="section-header wow fadeIn animated">
            <!-- SECTION TITLE-->
            <h2>Full of Features</h2>
            <div class="section-description">Donec mauris arcu, vestibulum ac hendrerit ut, convallis cursus libero.</div>
         </div>
         <!-- END SECTION HEADER-->
         <div class="row">
            <!-- START FEATURES LEFT-->
            <div class="col-md-4 col-sm-4 features-left">
               <!-- FEATURE-->
               <div class="feature">
                  <!-- FEATURE ICON-->
                  <div data-wow-offset="15" data-wow-duration="1.3s" class="feature-icon wow fadeIn animated">
                     <span class="fa-stack fa-lg">
                        <em class="fa fa-circle fa-stack-2x"></em>
                        <em class="fa fa-random fa-stack-1x fa-inverse"></em>
                     </span>
                  </div>
                  <!-- FEATURE TEXT-->
                  <div class="feature-details">
                     <h4 class="main-color">Responsive Layout</h4>
                     <p>Lorem ipsum dolor sit amet, ed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                  </div>
               </div>
               <!-- FEATURE-->
               <div class="feature">
                  <!-- FEATURE ICON-->
                  <div data-wow-offset="15" data-wow-duration="1.3s" class="feature-icon wow fadeIn animated">
                     <span class="fa-stack fa-lg">
                        <em class="fa fa-circle fa-stack-2x"></em>
                        <em class="fa fa-rocket fa-stack-1x fa-inverse"></em>
                     </span>
                  </div>
                  <!-- FEATURE TEXT-->
                  <div class="feature-details">
                     <h4 class="main-color">Bootstrap UI based</h4>
                     <p>Lorem ipsum dolor sit amet, ed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                  </div>
               </div>
               <!-- FEATURE-->
               <div class="feature">
                  <!-- FEATURE ICON-->
                  <div data-wow-offset="15" data-wow-duration="1.3s" class="feature-icon wow fadeIn animated">
                     <span class="fa-stack fa-lg">
                        <em class="fa fa-circle fa-stack-2x"></em>
                        <em class="fa fa-crosshairs fa-stack-1x fa-inverse"></em>
                     </span>
                  </div>
                  <!-- FEATURE TEXT-->
                  <div class="feature-details">
                     <h4 class="main-color">Cross Platform</h4>
                     <p>Lorem ipsum dolor sit amet, ed do eiusmod tempor incididunt ut labore et dolore magn.</p>
                  </div>
               </div>
            </div>
            <!-- END FEATURES LEFT-->
            <!-- START MOBILE MOCKUP-->
            <div class="col-md-4 col-sm-4">
               <div data-wow-offset="120" data-wow-duration="1.3s" class="mockup-mobile wow fadeIn animated">
                  <img src="/assets/iphone-minimal.png" alt="" data-no-retina>
               </div>
            </div>
            <!-- END MOBILE MOCKUP-->
            <!-- START FEATURES RIGHT-->
            <div class="col-md-4 col-sm-4 features-right">
               <!-- FEATURE-->
               <div class="feature">
                  <!-- FEATURE ICON-->
                  <div data-wow-offset="15" data-wow-duration="1.3s" class="feature-icon wow fadeIn animated">
                     <span class="fa-stack fa-lg">
                        <em class="fa fa-circle fa-stack-2x"></em>
                        <em class="fa fa-moon-o fa-stack-1x fa-inverse"></em>
                     </span>
                  </div>
                  <!-- FEATURE TEXT-->
                  <div class="feature-details">
                     <h4 class="main-color">Lazy load Assets</h4>
                     <p>Lorem ipsum dolor sit amet, ed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                  </div>
               </div>
               <!-- FEATURE-->
               <div class="feature">
                  <!-- FEATURE ICON-->
                  <div data-wow-offset="15" data-wow-duration="1.3s" class="feature-icon wow fadeIn animated">
                     <span class="fa-stack fa-lg">
                        <em class="fa fa-circle fa-stack-2x"></em>
                        <em class="fa fa-sitemap fa-stack-1x fa-inverse"></em>
                     </span>
                  </div>
                  <!-- FEATURE TEXT-->
                  <div class="feature-details">
                     <h4 class="main-color">UI Router States</h4>
                     <p>Lorem ipsum dolor sit amet, ed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                  </div>
               </div>
               <!-- FEATURE-->
               <div class="feature">
                  <!-- FEATURE ICON-->
                  <div data-wow-offset="15" data-wow-duration="1.3s" class="feature-icon wow fadeIn animated">
                     <span class="fa-stack fa-lg">
                        <em class="fa fa-circle fa-stack-2x"></em>
                        <em class="fa fa-wrench fa-stack-1x fa-inverse"></em>
                     </span>
                  </div>
                  <!-- FEATURE TEXT-->
                  <div class="feature-details">
                     <h4 class="main-color">Great Build Tools</h4>
                     <p>Lorem ipsum dolor sit amet, ed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                  </div>
               </div>
            </div>
            <!-- END FEATURES RIGHT-->
         </div>
      </div>
   </section>
