   <footer id="footer">
      <div class="container">
         <div class="row">
            <div class="col-sm-6">
               <ul class="footer-nav">
                  <li><a href="#header" class="scrollto">Home</a>
                  </li>
                  <!-- <li><a href="#features" class="scrollto">Features</a></li> -->
                  <li><a href="#plans" class="scrollto">Plans</a>
                  </li>
               </ul>
            </div>
            <div class="col-sm-6">
               <!-- COPYRIGHT-->
               <p class="copyright">EMR &copy; 2016</p>
            </div>
         </div>
      </div>
   </footer>
