   <div class="settings">
      <div class="settings-inner">
         <div class="settings-ctrl">
            <em class="fa fa-cogs"></em>
         </div>
         <div class="settings-content">
            <p>Themes</p>
            <div class="setting-colors">
               <div data-load-css="css/theme-a.css" class="setting-color bg-info checked">
                  <em class="fa fa-check"></em>
               </div>
               <div data-load-css="css/theme-b.css" class="setting-color bg-success">
                  <em class="fa fa-check"></em>
               </div>
               <div data-load-css="css/theme-c.css" class="setting-color bg-purple">
                  <em class="fa fa-check"></em>
               </div>
               <div data-load-css="css/theme-d.css" class="setting-color bg-primary">
                  <em class="fa fa-check"></em>
               </div>
            </div>
            <p>Layout</p>
            <div class="clearfix">
               <p class="pull-left">RTL</p>
               <div class="pull-right">
                  <label for="rtlswitch" class="switch">
                     <input type="checkbox" id="rtlswitch">
                     <span></span>
                  </label>
               </div>
            </div>
         </div>
      </div>
   </div>
