   <section id="shots" class="appshots">
      <div class="container">
         <!-- SECTION HEADER-->
         <div class="section-header">
            <h2>App Shots</h2>
            <div class="section-description">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices</div>
         </div>
         <!-- END SECTION HEADER-->
         <div class="row">
            <div id="appshots" class="owl-carousel owl-theme">
               <div class="shot">
                  <a href="/assets/shots/01.jpg" data-lightbox-gallery="appshots">
                     <img src="/assets/shots/01.jpg" alt="App Shot" data-no-retina>
                  </a>
               </div>
               <div class="shot">
                  <a href="/assets/shots/03.jpg" data-lightbox-gallery="appshots">
                     <img src="/assets/shots/03.jpg" alt="App Shot" data-no-retina>
                  </a>
               </div>
               <div class="shot">
                  <a href="/assets/shots/02.jpg" data-lightbox-gallery="appshots">
                     <img src="/assets/shots/02.jpg" alt="App Shot" data-no-retina>
                  </a>
               </div>
               <div class="shot">
                  <a href="/assets/shots/04.jpg" data-lightbox-gallery="appshots">
                     <img src="/assets/shots/04.jpg" alt="App Shot" data-no-retina>
                  </a>
               </div>
               <div class="shot">
                  <a href="/assets/shots/01.jpg" data-lightbox-gallery="appshots">
                     <img src="/assets/shots/01.jpg" alt="App Shot" data-no-retina>
                  </a>
               </div>
               <div class="shot">
                  <a href="/assets/shots/03.jpg" data-lightbox-gallery="appshots">
                     <img src="/assets/shots/03.jpg" alt="App Shot" data-no-retina>
                  </a>
               </div>
               <div class="shot">
                  <a href="/assets/shots/02.jpg" data-lightbox-gallery="appshots">
                     <img src="/assets/shots/02.jpg" alt="App Shot" data-no-retina>
                  </a>
               </div>
               <div class="shot">
                  <a href="/assets/shots/04.jpg" data-lightbox-gallery="appshots">
                     <img src="/assets/shots/04.jpg" alt="App Shot" data-no-retina>
                  </a>
               </div>
            </div>
         </div>
      </div>
   </section>
