   <section id="versions" class="versions">
      <div class="container">
         <!-- START SECTION HEADER-->
         <div data-wow-offset="120" data-wow-duration="1.3s" class="section-header wow fadeIn animated">
            <!-- SECTION TITLE-->
            <h2>Multiple Versions</h2>
            <div class="section-description">SCSS/LESS/JADE + Gulp build system &amp; Seed Projects for all versions</div>
         </div>
         <!-- END SECTION HEADER-->
         <div class="row bottom-space">
            <div class="col-lg-4 col-sm-6 col-xs-12">
               <div class="media media-card">
                  <div class="media-left media-middle">
                     <a href="#">
                        <img src="/assets/versions/angularjs.png" width="128px" alt="" data-no-retina="" data-wow-offset="15" data-wow-duration=".5s" class="wow zoomIn animated img-responsive version-pic">
                     </a>
                  </div>
                  <div class="media-body">
                     <h4 class="media-heading">AngularJS</h4>
                     <p class="media-card-text">AngularJS lets you extend HTML for your application. The resulting environment is extraordinarily expressive, readable, and quick to develop.</p>
                     <div class="text-right"><a href="../../backend-angular/" class="btn btn-sm btn-default">Live Demo</a>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12">
               <div class="media media-card">
                  <div class="media-left media-middle">
                     <a href="#">
                        <img src="/assets/versions/html5.png" width="128px" alt="" data-no-retina="" data-wow-offset="15" data-wow-duration=".5s" class="wow zoomIn animated img-responsive version-pic">
                     </a>
                  </div>
                  <div class="media-body">
                     <h4 class="media-heading">Static HTML5</h4>
                     <p class="media-card-text">A project based on jQuery and HTML5 for non Angular users. This version will simplify any integration with many other popular frameworks on the web.</p>
                     <div class="text-right"><a href="../../backend-jquery/" class="btn btn-sm btn-default">Live Demo</a>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12">
               <div class="media media-card">
                  <div class="media-left media-middle">
                     <a href="#">
                        <img src="/assets/versions/angular-material.png" width="128px" alt="" data-no-retina="" data-wow-offset="15" data-wow-duration=".5s" class="wow zoomIn animated img-responsive version-pic">
                     </a>
                  </div>
                  <div class="media-body">
                     <h4 class="media-heading">Angular Material</h4>
                     <p class="media-card-text">An implementation of Material Design in Angular.js with a set of reusable, well-tested, and accessible UI components based on the Material Design system.</p>
                     <div class="text-right"><a href="../../material/" class="btn btn-sm btn-default">Live Demo</a>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12">
               <div class="media media-card">
                  <div class="media-left media-middle">
                     <a href="#">
                        <img src="/assets/versions/net.png" width="128px" alt="" data-no-retina="" data-wow-offset="15" data-wow-duration=".5s" class="wow zoomIn animated img-responsive version-pic">
                     </a>
                  </div>
                  <div class="media-body">
                     <h4 class="media-heading">Visual Studio + MVC5</h4>
                     <p class="media-card-text">MVC5 for Visual Studio 2013. Modular JavaScript and all assets bundle ready to use. Also featuring an Entity demo using the theme components.</p>
                     <div class="text-right"><a href="http://themicon-001-site1.smarterasp.net/" class="btn btn-sm btn-default">Live Demo</a>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12">
               <div class="media media-card">
                  <div class="media-left media-middle">
                     <a href="#">
                        <img src="/assets/versions/ror.png" width="128px" alt="" data-no-retina="" data-wow-offset="15" data-wow-duration=".5s" class="wow zoomIn animated img-responsive version-pic">
                     </a>
                  </div>
                  <div class="media-body">
                     <h4 class="media-heading">Ruby on Rails</h4>
                     <p class="media-card-text">Modular JavaScript and SASS stylesheets. Developed to serve assets per controller, avoid bloating views with unnecessary requests. Heroku ready!.</p>
                     <div class="text-right"><a href="https://angle-on-rails.herokuapp.com/" class="btn btn-sm btn-default">Live Demo</a>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12">
               <div class="media media-card">
                  <div class="media-left media-middle">
                     <a href="#">
                        <img src="/assets/versions/meanjs.png" width="128px" alt="" data-no-retina="" data-wow-offset="15" data-wow-duration=".5s" class="wow zoomIn animated img-responsive version-pic">
                     </a>
                  </div>
                  <div class="media-body">
                     <h4 class="media-heading">MeanJS</h4>
                     <p class="media-card-text">A full-stack JavaScript solution that helps you build fast, robust and maintainable web apps. Supports LESS, modular JavaScript and Swig templates.</p>
                     <div class="text-right"><a href="https://angle-on-mean.herokuapp.com/" class="btn btn-sm btn-default">Live Demo</a>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12">
               <div class="media media-card">
                  <div class="media-left media-middle">
                     <a href="#">
                        <img src="/assets/versions/meteor.png" width="128px" alt="" data-no-retina="" data-wow-offset="15" data-wow-duration=".5s" class="wow zoomIn animated img-responsive version-pic">
                     </a>
                  </div>
                  <div class="media-body">
                     <h4 class="media-heading">MeteorJS</h4>
                     <p class="media-card-text">Meteor is a complete open source platform for building web and mobile apps in pure JavaScript. Based on Node.js with support for LESS stylesheets.</p>
                     <div class="text-right"><a href="https://45.55.64.191" class="btn btn-sm btn-default">Live Demo</a>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12">
               <div class="media media-card">
                  <div class="media-left media-middle">
                     <a href="#">
                        <img src="/assets/versions/vs.png" width="128px" alt="" data-no-retina="" data-wow-offset="15" data-wow-duration=".5s" class="wow zoomIn animated img-responsive version-pic">
                     </a>
                  </div>
                  <div class="media-body">
                     <h4 class="media-heading">MVC6 + ASP5</h4>
                     <p class="media-card-text">MVC6 for Visual Studio 2015. Modular JavaScript and SCSS stylesheets ready to use. Featuring a Gulp build system to easy your development process.</p>
                     <div class="text-right"><a href="" disabled onclick="alert('Demo not available yet'); return false;" class="btn btn-sm btn-default">Live Demo</a>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-sm-2 visible-sm visible-md"></div>
            <div class="col-lg-4 col-sm-8 col-xs-12">
               <div class="media media-card">
                  <div class="media-left media-middle">
                     <a href="#">
                        <img src="/assets/versions/react.png" width="128px" alt="" data-no-retina="" data-wow-offset="15" data-wow-duration=".5s" class="wow zoomIn animated img-responsive version-pic">
                     </a>
                  </div>
                  <div class="media-body">
                     <h4 class="media-heading">ReactJS</h4>
                     <p class="media-card-text">A Javascript library for building user interfaces. Independent from your technology stack, a simpler programming model and reactive data flow.</p>
                     <div class="text-right"><a href="../../reactjs/" class="btn btn-sm btn-default">Live Demo</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="text-center">
            <p>
               <img src="/assets/versions/sass.png" alt="" data-no-retina="" data-wow-offset="15" data-wow-duration=".5s" class="wow zoomIn animated">Main projects also includes Sass version !</p>
         </div>
      </div>
   </section>