/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require dashboard/font-awesome.min.css
 * require dashboard/simple-line-icons.css
 * require dashboard/animate.min.css
 * require dashboard/whirl.css
 * require dashboard/weather-icons.min.css
 * require dashboard/bootstrap.css
 * require dashboard/chosen.min.css
 * require dashboard/bootstrap-datepicker.css
 * require dashboard/select2.css
 * require dashboard/select2-bootstrap.css
 * require sweetalert2
 * require dashboard/app.css
 *= require_self
 */


.error {
  border-color: #f05050 !important;
  color: #f05050 !important;
}

.mrgbtn7{
  margin-bottom: 7px;
}

.multic-box label{
	margin: 1px !important;
  text-align: justify;
  width: 23%;
}

.pd-left{
	padding-left: 3% !important;
}

.pullright2{
	margin-right: 2%;
}

.legend-mb0{
	margin-bottom: 0px !important;
}