/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require dashboard/font-awesome.min.css
 *= require dashboard/simple-line-icons.css
 *= require dashboard/animate.min.css
 *= require dashboard/whirl.css
 *= require dashboard/weather-icons.min.css
 *= require dashboard/bootstrap.css
 *= require dashboard/chosen.min.css
 *= require dashboard/bootstrap-datepicker.css
 *= require dashboard/select2.css
 *= require dashboard/select2-bootstrap.css
 *= require sweetalert2
 *= require dashboard/app.css
 *= require_self
 */

.error {
  border-color: #f05050 !important;
  color: #f05050 !important;
}

.mrgbtn7{
  margin-bottom: 7px;
}

.multic-box label{
  margin: 1px !important;
  text-align: justify;
  width: 23%;
}

.pd-left{
  padding-left: 3% !important;
}

.pullright2{
	margin-right: 2%;
}

.legend-mb0{
	margin-bottom: 0px !important;
}

.sidebar > .nav > li > a, .sidebar > .nav > li > .nav-item{
	padding: 5px 24px !important;
}

.sidebar-subnav > li > a, .sidebar-subnav > li > .nav-item{
	padding: 5px 20px 0px 53px !important;
}

.sidebar .nav-heading{
  padding: 5px 15px !important;
}
.width23{
  width: 23% !important;
}
.width20{
  width: 20% !important;
}

.procedure-code-n-fee-schedule .fields{
  padding-top: 0px;
}

.procedure-code-n-fee-schedule label{
  text-align: left !important;
}
.padding8{
  padding: 8px !important;
}

.procedure-code-n-fee-schedule input{
  padding: 10px;
}

.procedure-code-n-fee-schedule div{
  padding-top: 5px;
}
.rdonly{
  background-color: white !important;
}
.extra-links-inner-page{
  padding: 0px 0px 7px 0px;
}
.height25{
  height: 25px;
}
.font14{
  font-size: 14px;
}
.form-control-time{
  width: 47%;
  height: 35px;
  padding: 6px 16px;
  font-size: 14px;
  line-height: 1.52857143;
  color: #3a3f51;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #dde6e9;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;  
}
.primary-deducatible .input-group-addon{
  padding: 6px 10px;
}
.primary-deducatible input{
  padding: 5px;
}

#validate_new_patient_case div > .form-group > label{
  padding: 5px;
}
.info-diagnosis a{
  line-height: 35px;
}
.info-diagnosis span{
  line-height: 35px; 
}
.label-lg{
  padding: 7px 0px 0px 0px !important;
}
#datepicker1 span.input-group-addon{
  padding: 6px 9px !important;
}
.datepicker{
  padding: 10px !important;
}
.pad0{
  padding: 0px !important;
}