<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Angular Demo</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/assets/bootstrap.min.css">
    <script src="/assets/jquery.min.js"></script>
    <style>body { padding-top:30px; }</style>
  </head>
  <body class="container" ng-app="demoAngular">
      <div ng-controller="WelcomeController">
        <header>
          <nav class="navbar navbar-default">
            <div class="container">
              <div class="navbar-header">
                <a class="navbar-brand" href="/">Angular Demo</a>
              </div>
              <ul class="nav navbar-nav">
                <li><a href="#/home"><i class="fa fa-home"></i> Home</a></li>
                <li>
                  <a href="#/about"><i class="fa fa-shield"></i> About</a>
                </li>                
              </ul>

              <ul ng-show="isAuthenticated()" class="nav navbar-nav pull-right" style='margin-right: 25px;'>
                <li><a href="#/about"><i class="fa fa-home"></i> {{currentUser.email}} </a></li>
                <li ng-controller='LoginController'>
                  <a ng-click="logout()"><i class="fa fa-shield"></i>Logout</a>
                </li>                
              </ul>

              <ul ng-hide="isAuthenticated()" class="nav navbar-nav pull-right" style='margin-right: 25px;'>
                <li><a href="#/login"><i class="fa fa-home"></i> Login</a></li>
                <li><a href="#/signup"><i class="fa fa-shield"></i> Register</a></li>                
              </ul>

            </div>
          </nav>
        </header>
        <div id="main">
          <div ng-view class="view"></div>
        </div>
      </div>

    <!-- JS -->
    <script src="/assets/angular.js"></script>
    <script src="/assets/angular-animate.js"></script>
    <script src="/assets/angular-route.js"></script>
    <script src="/assets/angular-messages.js"></script>    
    <script src="/assets/angular-cookies.js"></script>


    <script src="/assets/script.js.erb"></script>

    <!-- CONTROLLER -->
    <script src="/assets/controllers/welcome_controller.js"></script>
    <script src="/assets/controllers/about_controller.js"></script>
    <script src="/assets/controllers/login_controller.js"></script>
    <script src="/assets/controllers/signup_controller.js"></script>

    <!-- Services -->
    <script src="/assets/services/UserService.js"></script>    

    <script type="text/javascript">
      angular.element(document.getElementsByTagName('head')).append(angular.element('<base href="' + window.location.pathname + '" />'));
    </script>
  </body>
</html>
