<%= render partial: '/accounts/header' %>
<div class="table-grid table-grid-desktop">
  <%= render partial: '/accounts/left_panel' %>
  <div class="col">
    <div class="panel panel-default">
      <div class="panel-body">
      	<%= render partial: 'accounts/account_form' %>
    	</div>
   	</div>
  </div>
</div>